[Unit]
Description=Run check_chromium_versions on a schedule

[Timer]
OnBootSec=5min
OnUnitActiveSec=15m
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target
